<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "kd.dlrowolleh.www//:ptth"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Scratch fanger æblær!</name>

    <description>
        En app lavet hos Hello World!
    </description>

    <author href="http://www.HelloWorld.DK" email="info@helloworld.dk">
        Hello World
    </author>

</widget>
